<div <% if ajax_upload.include?(:id) %>id="<%= ajax_upload[:id] %>"<% end %>
     class="ajax-upload-ctrl"
     data-action="<%= ajax_upload[:action]%>"
     <% if ajax_upload.include?(:max_size) %>data-max-size="<%= ajax_upload[:max_size]%>"<% end %>
     <% if ajax_upload.include?(:min_size) %>data-min-size="<%= ajax_upload[:min_size]%>"<% end %>
     <% if ajax_upload.include?(:content_type_pattern) %>data-valid-content-type-pattern="<%= ajax_upload[:content_type_pattern] || "" %>"<% end %>
     <% if ajax_upload.include?(:on_upload_callback) %>data-on-upload-callback="<%= ajax_upload[:on_upload_callback] %>"<% end %>>

  <div class="ajax-upload-drophere">
    <span class="glyphicon glyphicon-upload"></span>
    Drop your files here
  </div>
  <div class="ajax-upload-form">
    <div class="button-container">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-folder-open"></span> Select files
      </button>
      <%= file_field 'upload', 'file', :multiple => true, :class => "file-field btn" %>
    </div>
    <ul class="ajax-upload-list list-group">
      <li class="panel-body list-group-item">
      <span class="name"></span> <span class="size"></span> <span class="type"></span> 
      <!-- <button type="button" class="remove btn btn-default btn-xs" style="display:none"><span class="glyphicon glyphicon-remove"></span></button> -->
      <span class="glyphicon glyphicon-remove remove" style="display:none; float:right"></span>
        <div class="progress" >
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
